
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}


mat-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}


mat-form-field, button {
  width: 100%;
}


button {
  margin-top: 10px;
  padding: 6px;
}

mat-card-footer {
  text-align: center;
  margin-top: 15px;
}
